body{
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}
h1,h2,h3{
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
hr{
    margin-top: 0px;
}
ul{
    list-style: none;
}
pre{
    text-align: left;
}
#header{
    padding: 5vh 5vw;
    background-image: linear-gradient(to right, rgb(117, 4, 245) , rgb(77, 23, 138));
    text-align: center;
    color: white;
}
#mainTitle{
    font-style: italic;
    font-size: 10vh;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.description{
    padding-top: 4px;
    margin-top: 4px;
    font-size: 3vh;
    color: rgb(238, 236, 236);
}
#container{
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 10vw;
    padding-right: 10vw;
    background-image: linear-gradient(to top, rgb(236, 235, 235) , rgb(230, 227, 227));
    height: 68vh;
    font-size: 2.5vh;
}
#html{
    height: 49%;
    overflow-y: scroll;
    box-shadow:5px 3px 5px 0 rgba(0, 0, 0, .3);
    background-color: white;
    padding-bottom: inherit;
    border-bottom: 1px solid rgb(117, 4, 245);
    
}
#css{
    height: 49%;
    overflow-y: scroll;
    box-shadow:5px 3px 5px 0 rgba(0, 0, 0, .3);
    background-color: white;
    /*background-image: linear-gradient(to top, rgb(223, 189, 253) , rgb(198, 139, 250));*/
    padding-bottom: inherit;
    
}
.sectionTitle{
    font-style: italic;
    font-size: 6vh;
    color: rgb(77, 23, 138);
    font-weight: bold;
}

.subContent{
    padding-left: 5vw;
}
.subSectionTitle{
    font-weight: bold;
    font-size: 3.8vh;
    color: rgba(77, 23, 138, 0.699);
}
.render{
    padding-left: 2.5vw;
}